# Milestone I:  Exploratory Data Analysis

Group Member: Camilla Ren, Mina Yang, Xiwen Wei

## Data Prepocressing

#### 1) Loading Dataset

In [40]:
# Load packages
import pandas as pd
import altair as alt
import ast

In [41]:
# Load dataset
url = 'https://raw.githubusercontent.com/shlrley/amazon_bestsellers/main/data/amazon_conlit_goodreads_nyt.csv'
amazon_book_original = pd.read_csv(url,parse_dates=['amazon_year'])
amazon_book_original.head()

,title,amazon_author,amazon_rating,amazon_num_reviews,amazon_price,amazon_year,amazon_genre,conlit_genre,conlit_pubdate,conlit_author_gender,...,goodreads_publish_date,goodreads_first_publish_date,goodreads_awards,goodreads_num_ratings,goodreads_likedPercent,goodreads_price,nyt_published_date,nyt_list_name_encoded,nyt_price,nyt_weeks_on_list
0,11/22/63: A Novel,Stephen King,4.6,2052,22,2011-01-01,Fiction,BS,2011-01-01,M,...,2011-11-08,NaN,['Locus Award Nominee for Best SF Novel (2012)...,420225.0,96.0,6.21,2012-02-26,hardcover-fiction,35.00,14.0
1,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011-01-01,Fiction,BS,2011-01-01,M,...,2011-07-12,NaN,"['Hugo Award Nominee for Best Novel (2012)', '...",555900.0,97.0,NaN,NaN,NaN,NaN,NaN
2,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017-01-01,Fiction,BS,2016-01-01,M,...,2019-03-26,2016-09-06,"['Kirkus Prize Nominee for Fiction (2016)', 'G...",293330.0,96.0,6.29,2019-12-29,trade-fiction-paperback,0.00,34.0
3,A Stolen Life: A Memoir,Jaycee Dugard,4.6,4149,32,2011-01-01,Non Fiction,MEM,2011-01-01,F,...,2011-07-12,2011-07-11,['Goodreads Choice Award Nominee for Memoir & ...,96524.0,92.0,3.32,2011-10-02,hardcover-nonfiction,24.99,10.0
4,All the Light We Cannot See,Anthony Doerr,4.6,36348,14,2014-01-01,Fiction,PW,2014-01-01,M,...,2014-05-06,2014-05-28,"['Pulitzer Prize for Fiction (2015)', 'Audie A...",1024442.0,96.0,4.45,2016-04-10,hardcover-fiction,0.00,99.0

In [42]:
# Print out the column names, their data types, and count of non-NA values
amazon_book_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 27 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title                         366 non-null    object
 1   amazon_author                 366 non-null    object
 2   amazon_rating                 366 non-null    float64
 3   amazon_num_reviews            366 non-null    int64
 4   amazon_price                  366 non-null    int64
 5   amazon_year                   366 non-null    datetime64[ns]
 6   amazon_genre                  366 non-null    object
 7   conlit_genre                  111 non-null    object
 8   conlit_pubdate                111 non-null    object
 9   conlit_author_gender          111 non-null    object
 10  conlit_author_nationality     65 non-null     object
 11  conlit_total_ratings          111 non-null    float64
 12  goodreads_rating              366 non-null    float64
 13  goodreads_series              131 non-null    object
 14  goodreads_genres              366 non-null    object
 15  goodreads_edition             100 non-null    object
 16  goodreads_publisher           359 non-null    object
 17  goodreads_publish_date        359 non-null    object
 18  goodreads_first_publish_date  176 non-null    object
 19  goodreads_awards              366 non-null    object
 20  goodreads_num_ratings         359 non-null    float64
 21  goodreads_likedPercent        359 non-null    float64
 22  goodreads_price               275 non-null    float64
 23  nyt_published_date            169 non-null    object
 24  nyt_list_name_encoded         169 non-null    object
 25  nyt_price                     169 non-null    float64
 26  nyt_weeks_on_list             169 non-null    float64
dtypes: datetime64[ns](1), float64(8), int64(2), object(16)
memory usage: 77.3+ KB

In [43]:
# Count the number of missing values for each column
amazon_book_original.isnull().sum()

title                             0
amazon_author                     0
amazon_rating                     0
amazon_num_reviews                0
amazon_price                      0
amazon_year                       0
amazon_genre                      0
conlit_genre                    255
conlit_pubdate                  255
conlit_author_gender            255
conlit_author_nationality       301
conlit_total_ratings            255
goodreads_rating                  0
goodreads_series                235
goodreads_genres                  0
goodreads_edition               266
goodreads_publisher               7
goodreads_publish_date            7
goodreads_first_publish_date    190
goodreads_awards                  0
goodreads_num_ratings             7
goodreads_likedPercent            7
goodreads_price                  91
nyt_published_date              197
nyt_list_name_encoded           197
nyt_price                       197
nyt_weeks_on_list               197
dtype: int64

#### 2) Data Wrangling

In [44]:
# Drop the columns with more than 66 missing columns
amazon_book = amazon_book_original.drop(columns=['conlit_genre','conlit_pubdate','conlit_author_gender','conlit_author_gender','conlit_author_nationality',
                          'conlit_total_ratings','goodreads_series','goodreads_edition','goodreads_first_publish_date','goodreads_price',
                         'nyt_published_date','nyt_list_name_encoded','nyt_price', 'nyt_weeks_on_list']) 

#Remove missing values
amazon_book = amazon_book.dropna()


# Check if the dataset still contains any missing value
amazon_book.isnull().values.any()

False

In [45]:
# Convert columns with lists (but that are string type) to list type
amazon_book['goodreads_genres'] = amazon_book.goodreads_genres.apply(lambda s: list(ast.literal_eval(s)))
amazon_book['goodreads_awards'] = amazon_book.goodreads_awards.apply(lambda s: list(ast.literal_eval(s)))
amazon_book.head()

,title,amazon_author,amazon_rating,amazon_num_reviews,amazon_price,amazon_year,amazon_genre,goodreads_rating,goodreads_genres,goodreads_publisher,goodreads_publish_date,goodreads_awards,goodreads_num_ratings,goodreads_likedPercent
0,11/22/63: A Novel,Stephen King,4.6,2052,22,2011-01-01,Fiction,4.31,"[Fiction, Historical Fiction, Science Fiction,...",Scribner,2011-11-08,"[Locus Award Nominee for Best SF Novel (2012),...",420225.0,96.0
1,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011-01-01,Fiction,4.32,"[Fantasy, Fiction, Epic Fantasy, Science Ficti...",Bantam,2011-07-12,"[Hugo Award Nominee for Best Novel (2012), Loc...",555900.0,97.0
2,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017-01-01,Fiction,4.34,"[Historical Fiction, Fiction, Russia, Historic...",Penguin Books,2019-03-26,"[Kirkus Prize Nominee for Fiction (2016), Good...",293330.0,96.0
3,A Stolen Life: A Memoir,Jaycee Dugard,4.6,4149,32,2011-01-01,Non Fiction,3.91,"[Nonfiction, Memoir, True Crime, Biography, Au...",Simon Schuster,2011-07-12,[Goodreads Choice Award Nominee for Memoir & A...,96524.0,92.0
4,All the Light We Cannot See,Anthony Doerr,4.6,36348,14,2014-01-01,Fiction,4.33,"[Historical Fiction, Fiction, Historical, War,...",Scribner,2014-05-06,"[Pulitzer Prize for Fiction (2015), Audie Awar...",1024442.0,96.0

## EDA

#### 1) Summary View

In [46]:
# Summary table of dataset
amazon_book.describe()

,amazon_rating,amazon_num_reviews,amazon_price,goodreads_rating,goodreads_num_ratings,goodreads_likedPercent
count,359.000000,359.000000,359.000000,359.000000,3.590000e+02,359.000000
mean,4.612535,14657.565460,12.838440,4.134875,6.345914e+05,92.891365
std,0.243310,13536.143126,9.973517,0.243153,1.040133e+06,4.040564
min,3.300000,548.000000,0.000000,3.280000,6.080000e+02,74.000000
25%,4.500000,4881.000000,8.000000,3.965000,8.217350e+04,92.000000
50%,4.700000,10101.000000,11.000000,4.150000,2.790600e+05,94.000000
75%,4.800000,21834.000000,15.000000,4.305000,6.133945e+05,95.000000
max,4.900000,87841.000000,105.000000,4.730000,6.376780e+06,98.000000